* {
	background-color: #EEE2DC;
  font-family: 'Noto Serif JP', serif;
}

h1,
h2,
h3, 
p {
	text-align: center;
  background-color: #EEE2DC;
}

h1 {
  text-decoration: underline;
}

.info-content {
  display: block;
  margin: 0 auto;
  width: 65%;
  line-height: 1.5rem;
}

.strong-country {
  color: green;
}

.weak-country {
  color: red;
}

form {
  margin-bottom: 5px;
}

#userInput {
	display: block;
	margin: 0 auto;
	width: 35%;
}

#sortingMethod {
  display: block;
  margin: 1.25rem auto 1.25rem;
}

.countries-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.countries-item {
	border: 1px solid black;
  width: 25%;
	border-radius: 15px;
	margin: 10px 5px;
  background-color: rgb(243, 243, 243);
}

.countries-item > * {
  background-color: rgb(243, 243, 243);
}

img {
  margin: none;
  padding: none;
	object-fit: contain;
  width: 64px;
}

#root {
  text-align: center;
  margin: 0 auto;
}


@media only screen and (max-width: 600px) {
  .info-content {
    width: 95%;
  }

  #root {
    width: 95%;
  }
}